<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>A</title>
<link href="static/img/frontend-be7b7d5ea9729ab2ffd89b5d873ff330.css" media="all" rel="stylesheet" type="text/css">
<!-- JavaScript -->
<link href="static/img/vendor-6a30dc2598f8c7f6b2a59f6ad2d6ca56.css" media="screen" rel="stylesheet" type="text/css">
<link href="static/img/salon-legacy-201d819a30a7148b68c0a2a1308d38a6.css" media="screen" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="static/style.css" />

</head>
<body data-page-type="square-view" data-page-plan-sponsored="false" data-page-plan="free" data-lang="de" class="default-mode ember-application js f-public-asset-info" data-controller="page">{{{body}}}</body>
</html>